<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-xs-3">&nbsp;</div>
    <div class="col-sm-6 col-xs-6 badge badge-primary"> <h5><img src="/assets/imagens/icons/pedido.png" class="mr-2" style="width: 30px"> Pedidos </h5></div>
</div>


<div class="row">
  <div class="col-sm-3 col-xs-3">
    &nbsp;
  </div>

  <div class="col-sm-6 col-xs-6 border border-primary rounded shadow-lg p-4 mb-4 bg-white">
    <!-- <div class="card"> -->
      <!-- <div class="card-body"> -->
        <form>
          <div class="row">
              <div class="col-sm-3  col-xs-3" >
                  <select #campo name="campo" class="form-control form-control-sm" >
                      <option *ngFor=  "let c of (arrFiltro)" [value]="c.campo">{{c.desc_campo}}</option>
                  </select>
              </div>
              <div class="col-sm-4  col-xs-4">
                  <input #criterio name="criterio" class="form-control form-control-sm" autocomplete="off" placeholder="criterio" (input)="AtribuiValor(criterio.value)">
              </div>
              <div class="col-sm-5  col-xs-5" >
                <button (click)="ConsultarCliente(campo,criterio,integrado)"type="button" class="btn btn-primary pull-right btn-block btn-sm" [disabled]="!blnCriterio" >
                  <i class="fa fa-save"></i> Consultar
                </button>

              </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-2">
                &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5  col-xs-5" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" #integrado name="chkPedidoIntegrado" />
                <label class="form-check-label" for="flexCheckDefault">
                  Exibir Integrados
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 col-xs-2">
                &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <a class="nav-link" [routerLink]="['/pedido']">
                <span tooltip="Adicionar Pedido" placement="top" show-delay="500">
                  <img src="/assets/imagens/icons/add.png" class="mr-2" style="width: 30px"> Pedido
                  </span>
                  </a>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-xs-12 table-responsive-xl">
              <table class="table table-sm table-striped col-sm-12 col-xs-12">
                <thead>
                <tr>
                  <th scope="col" sortable="id_Ped" (sort)="onSort($event)">Pedido</th>
                  <th scope="col" sortable="cliente.obJ_PESSOA.nome" (sort)="onSort($event)">Cliente</th>
                  <th scope="col" sortable="dtPed" (sort)="onSort($event)">Data</th>
                  <th scope="col" sortable="entrega" (sort)="onSort($event)">Entrega</th>
                  <th scope="col" sortable="descrSituacao" (sort)="onSort($event)">Situação</th>
                  <th scope="col" sortable="descrTipo" (sort)="onSort($event)">Tipo</th>
                  <th scope="col">Ação</th>
                  <th scope="col">Ação</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pedido of pedidos | slice: pageSize | slice: 0:itemsPerPage">
                  <td>
                      <ngb-highlight [result]="pedido.id_Ped" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span [tooltip]="pedido.cliente.obJ_PESSOA.nome" placement="top" show-delay="500">
                      <ngb-highlight [result]="pedido.cliente.obJ_PESSOA.nome.substring(0,15)" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                      <ngb-highlight [result]="pedido.dtPed | date: 'dd/MM/yyyy'" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                      <ngb-highlight [result]="pedido.entrega | date: 'dd/MM/yyyy'" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span [tooltip]="pedido.descrSituacao" placement="top" show-delay="500">
                      <ngb-highlight [result]="pedido.descrSituacao.substring(0,5)" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <span [tooltip]="pedido.descrTipo" placement="top" show-delay="500">
                      <ngb-highlight [result]="pedido.descrTipo.substring(0,5)" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td><a  [routerLink]="['/pedido',pedido.id_Ped]">
                    <span tooltip="Editar" placement="top" show-delay="500">
                        <i class="fa fa-edit"></i>
                      </span>
                      </a>
                  </td>
                  <td><a (click)="ExcluirPedido(pedido.id_Ped);"  [routerLink]="['/pedido',pedido.id_Ped]">
                    <span tooltip="Editar" placement="top" show-delay="500">
                      <i class="fa fa-minus-circle" style="color:red;"></i>
                    </span>
                      </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="d-flex justify-content-between p-2">
            <!-- <ngb-pagination style="width: 200px;"
              [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination> -->

            <!-- <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [maxSize]="4" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->
            <!-- <ngb-pagination [collectionSize]="total" [(page)]="page" [maxSize]="4" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->
            <ngb-pagination [collectionSize]="total" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)" [maxSize]="4" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </form>
      <!-- </div>
    </div> -->
  </div>
</div>
