<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-2">
      &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-xs-1">&nbsp;</div>
  <div class="col-sm-10 col-xs-10 badge badge-primary"> <h5><img src="/assets/imagens/icons/clientes.png" class="mr-2" style="width: 30px"> Cadastro de Clientes</h5></div>
</div>
<div class="row">
  <div class="col-sm-1 col-xs-1">
      &nbsp;
  </div>

  <div class="col-sm-10 col-xs-10 border border-primary rounded shadow-lg p-4 mb-4 bg-white">
      <h4>Dados do Cliente</h4>
      <form [formGroup]="clienteForm" >
          <div class="row">
              <div class="col-sm-2 col-xs-2">
                  &nbsp;
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1 col-xs-1">
                  &nbsp;
              </div>
              <div class="col-sm-1 col-xs-1">
                      CPF:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
              </div>
              <div class="col-sm-3  col-xs-3">
                  <cft-input errorMessage="Campo obrigatório e no formato de CPF/CNPJ" label="cpf cliente">
                      <input  name="cnpjCpf" class="form-control form-control-sm" formControlName="cnpjCpf" autocomplete="off" placeholder="CPF" [attr.disabled]="cliente.idCliente == null ? null : true">
                  </cft-input>
              </div>
              <div class="col-xs-1 col-sm-1" >
                <span *ngIf="clienteForm.get('cnpjCpf').getError('cpfNotValid')" style="color:red">
                  <i class="fa fa-remove"></i> O CPF/CNPJ não é válido ou já existente na base de dados.
                </span>
              </div>
              <div class="col-sm-2 col-xs-2">
                      RG / IE:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
              </div>
              <div class="col-sm-3  col-xs-3">
                  <cft-input errorMessage="Campo obrigatório com maximo de 18 caracteres" label="RG / IE do Cliente usuário">
                      <input name="IEstRG" class="form-control  form-control-sm" formControlName="IEstRG" autocomplete="off" placeholder="RG /IE">
                  </cft-input>
              </div>
              <div class="col-xs-2 col-sm-2" >
                  <!-- <span class="help-block pull-right has-error-block" *ngIf="usuarioForm.get('US_USLOGIN').hasError('loginInvalido') === 'VALID'" style="color:red"><i class="fa fa-remove"></i> Login já existente</span> -->
                  <!-- <span class="help-block pull-right has-error-block" *ngIf="jogadorForm.get('JO_JOAPELIDO').hasError('apelidoInvalido')" style="color:red"><i class="fa fa-remove"></i> Apelido já existente</span> -->
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1 col-xs-1">
                  &nbsp;
              </div>
              <div class="col-sm-1 col-xs-1">
                  Nome:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
              </div>
              <div class="col-sm-3  col-xs-3">
                  <cft-input errorMessage="Campo obrigatório com maximo de 60 caracteres" label="Nome">
                      <input name="nome" class="form-control  form-control-sm" formControlName="nome" autocomplete="off" placeholder="Nome" style="text-transform:uppercase" >
                  </cft-input>
              </div>
              <div class="col-sm-1 col-xs-1">
                &nbsp;
              </div>
              <div class="col-sm-2 col-xs-2">
                Apelido:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
              </div>
              <div class="col-sm-3  col-xs-3">
                  <cft-input errorMessage="Campo obrigatório com maximo de 20 caracteres" label="Nome">
                      <input name="apelido" class="form-control  form-control-sm" formControlName="apelido" autocomplete="off" placeholder="Apelido" style="text-transform:uppercase" >
                  </cft-input>
              </div>
          </div>

          <div class="row">
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Org.Emissor:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 6 caracteres" label="Orgão Emissor">
                    <input name="orgEmisRg" class="form-control  form-control-sm" formControlName="orgEmisRg" autocomplete="off" placeholder="Orgão Emissor" style="text-transform:uppercase" >
                </cft-input>
            </div>
            <div class="col-sm-1 col-xs-1">
              &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              Estado Civil:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
              <select name="estCivil" class="form-control  form-control-sm" formControlName="estCivil" >
                <option value="C">Casado</option>
                <option value="S">Solteiro</option>
                <option value="D">Divorciado</option>
                <option value="N">Não Informado</option>
                <option value="O">Outros</option>
              </select>
                <!-- <cft-input errorMessage="Campo obrigatório com maximo de 30 caracteres" label="Estado Civil">
                    <input name="estCivil" class="form-control" formControlName="estCivil" autocomplete="off" placeholder="Estado Civil">
                </cft-input> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Data de Nasc.:
            </div>
            <div class="col-sm-3  col-xs-3">
                <div class="row">
                  <div class="col-sm-10  col-xs-10" >
                      <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d1="ngbDatepicker" formControlName="CP_CPDATALIMITEAPOSTA" > -->
                      <input class="form-control  form-control-sm" placeholder="dd/mm/aaaa" name="dtNascimento" ngbDatepicker #d1="ngbDatepicker"  formControlName="dtNascimento" >
                  </div>
                  <div class="col-sm-2  col-xs-2" >
                      <button class="btn btn-primary btn-sm" (click)="d1.toggle()" type="button"><i class="fa fa-table "></i></button>
                  </div>
                </div>
                <!-- <cft-input errorMessage="Data de Nasc é um campo obrigatório" label="Data de Nasc.">
                    <input name="DtNascimento" class="form-control" formControlName="DtNascimento" autocomplete="off" placeholder="Data de Nasc.">
                </cft-input> -->
            </div>
            <div class="col-sm-1 col-xs-1">
              &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              Profissao:
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 30 caracteres" label="profissao">
                    <input name="profProfissao" class="form-control  form-control-sm" formControlName="profProfissao" autocomplete="off" placeholder="Profissao" style="text-transform:uppercase" >
                </cft-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              CEP:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="CEP é um campo obrigatório" label="CEP">
                    <input #CEP name="cep" class="form-control  form-control-sm" formControlName="cep" autocomplete="off" placeholder="cep" (input)="ConsultaCEP(CEP.value)">
                    <!-- <input  name="CEP" class="form-control" formControlName="CEP" autocomplete="off" placeholder="CEP" > -->
                </cft-input>
            </div>
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              UF:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <select name="uf" class="form-control  form-control-sm" formControlName="uf" >
                  <option *ngFor=  "let c of (estados)" [value]="c.uf">{{c.estado}}</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Localidade:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 30 caracteres" label="localidade">
                    <input name="localidade" class="form-control  form-control-sm" formControlName="localidade" autocomplete="off" placeholder="Localidade/Cidade" style="text-transform:uppercase" >
                </cft-input>
            </div>
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              Logradouro:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 30 caracteres" label="Logradouro">
                    <input name="logradouro" class="form-control  form-control-sm" formControlName="logradouro" autocomplete="off" placeholder="Logradouro" style="text-transform:uppercase" >
                </cft-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Numero:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 8 caracteres" label="Numero">
                    <input name="numero" class="form-control  form-control-sm" formControlName="numero" autocomplete="off" placeholder="Numero" style="text-transform:uppercase" >
                </cft-input>
            </div>

            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              Complemento:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 40 caracteres" label="Complemento">
                    <input name="complemento" class="form-control  form-control-sm" formControlName="complemento" autocomplete="off" placeholder="Complemento" style="text-transform:uppercase" >
                </cft-input>
            </div>

            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>

          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
              &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Bairro:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 40 caracteres" label="Bairro">
                    <input name="bairro" class="form-control  form-control-sm"  formControlName="bairro" autocomplete="off" placeholder="Bairro" style="text-transform:uppercase"  >
                </cft-input>
            </div>
            <div class="col-sm-1 col-xs-1">
                &nbsp;
            </div>
            <div class="col-sm-2 col-xs-2">
              EMail:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="EMail é um campo obrigatório" label="EMail">
                    <input name="eMail" class="form-control  form-control-sm" formControlName="eMail" autocomplete="off" placeholder="EMail" style="text-transform:uppercase" >
                </cft-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-1 col-xs-1">
              &nbsp;
            </div>
            <div class="col-sm-1 col-xs-1">
              Contato:<span style="color:red" tooltip="Campo Obrigatório" placement="top" show-delay="500">&nbsp;&nbsp;*</span>
            </div>
            <div class="col-sm-3  col-xs-3">
                <cft-input errorMessage="Campo obrigatório com maximo de 40 caracteres" label="Contato">
                    <input name="contato" class="form-control  form-control-sm" formControlName="contato" autocomplete="off" placeholder="Contato" style="text-transform:uppercase" >
                </cft-input>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2 col-xs-2">
                &nbsp;
            </div>
          </div>

        <!--***********************************GRID-->
        <div class="row" id="Telefones" >
          <div class="col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-sm-11 col-xs-11 table-responsive-xl">
            <table class="table table-sm table-striped col-sm-11 col-xs-11">
              <thead>
              <tr>
                <th>DDD</th>
                <th>Numero</th>
                <th>Ramal.</th>
                <th>Tipo Telefone</th>
                <th>Ordenação</th>
                <th scope="col">Ação</th>
                <th scope="col">Ação</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tl of coltelefones ">
                <td>
                  <span [tooltip]="tl.codddd" placement="top" show-delay="500">
                    {{tl.codddd }}
                  </span>
                </td>
                <td>
                  <span [tooltip]="tl.numero" placement="top" show-delay="500">
                    {{tl.numero}}
                  </span>
                </td>
                <td>
                  <span [tooltip]="tl.ramal" placement="top" show-delay="500">
                    {{tl.ramal}}
                  </span>
                </td>
                <td>
                  <span [tooltip]="tl.descTipoFone" placement="top" show-delay="500">
                    {{tl.descTipoFone}}
                  </span>
                </td>
                <td>
                  <span [tooltip]="tl.descTipoFone" placement="top" show-delay="500">
                    {{tl.ordenador}}
                  </span>
                </td>
                <td><a  (click)="EditarTelefoneModal(tl)">
                  <span tooltip="Editar" placement="top" show-delay="500">
                      <i class="fa fa-edit"></i>
                    </span>
                    </a>
                </td>
                <td>
                  <a (click)="ExcluirTelefone(tl);"  >
                  <span tooltip="Excluir" placement="top" show-delay="500">
                    <i class="fa fa-minus-circle" style="color:red;"></i>
                    </span>
                    </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-xs-2">
              &nbsp;
          </div>
        </div>

        <!-- <dx-data-grid
            id="gridContainer"
            [dataSource]="dataSource"
            keyExpr="idTelefone"
            [allowColumnReordering]="true"
            [showBorders]="true"
            (onEditingStart)="logEvent('EditingStart')"
            (onEditorPreparing)="onEditorPreparing($event)"
            (onInitNewRow)="logEvent('InitNewRow')"
            (onRowInserting)="logEvent('RowInserting')"
            (onRowInserted)="logEvent('RowInserted')"
            (onRowUpdating)="logEvent('RowUpdating')"
            (onRowUpdated)="logEvent('RowUpdated')"
            (onRowRemoving)="logEvent('RowRemoving')"
            (onRowRemoved)="logEvent('RowRemoved')"
            (onSaving)="inserirTelefone(dataSource)"
            (onSaved)="logEvent('Saved')"
            (onEditCanceling)="logEvent('EditCanceling')"
            (onEditCanceled)="logEvent('EditCanceled')">

            <dxo-paging [enabled]="true"></dxo-paging>
            <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
            </dxo-editing>

            <dxi-column dataField="codddd" caption="DDD" dataType="number" >
              <dxi-validation-rule
                type="pattern"
                [pattern]="patternDDD" message="Formato DDD (11)!"
                [validationCallback]="asyncValidation"
              ></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="numero" dataType="number" >
              <dxi-validation-rule
              type="pattern"
              [pattern]="FonePattern" message="Formato Numero (111111111)!"
              [validationCallback]="asyncValidation"
              ></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="ramal" >
              <dxi-validation-rule type="pattern"
              [pattern]="RamalPattern" message="Formato ramal (1111)!"
              [validationCallback]="asyncValidation"
              ></dxi-validation-rule>
            </dxi-column>

            <dxi-column
                dataField="indtipoFone"
                caption="TipoTelefone"
                [width]="125">
                <dxo-lookup
                    [dataSource]="tiposTelefone"
                    displayExpr="DescTipoTelefone"
                    valueExpr="IndTipoFone">
                </dxo-lookup>
            </dxi-column>
            <dxi-column
                dataField="BirthDate"
                [width]="125"
                dataType="date">
            </dxi-column>
        </dx-data-grid> -->
        <!--***********************************GRID***********************************-->

        <div class="row">
          <div class="col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-sm-2 col-xs-2">
            <button class="btn btn-primary pull-right btn-block btn-sm" data-toggle="modal" data-target="#Fabrica" type="button" (click)="showTelefoneModal()">
              <img src="assets/imagens/icons/phone.png" class="mr-2" style="width: 20px; color: white; ">
              +
          </button>
          </div>
        </div>
      </form>
      <div class="dx-fieldset">
        <dx-validation-summary id="summary"></dx-validation-summary>
        <div class="row">
            <div class="col-sm-2 col-xs-2">
                &nbsp;
            </div>
            <div class="col-sm-8 col-xs-8">
                <button (click)="SalvarCliente(clienteForm.value)"type="button" class="btn btn-primary pull-right btn-block btn-sm" [disabled]="!clienteForm.valid" >
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
            <!-- <div class="col-sm-8 col-xs-8">
              <button (click)="findInvalidControls()"type="button" class="btn btn-primary pull-right btn-block" >
                  <i class="fa fa-save"></i> teste
              </button>
            </div> -->
            <div class="col-sm-3 col-xs-3" >
                &nbsp;
            </div>
        </div>
      </div>
  </div>
</div>

<!-- Modal EDITAR ITEMPEDIDO -->
<div bsModal #telefoneModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Telefones</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideTelefoneModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body ">
        <div class="row">
          <div class="col-sm-1 col-xs-1 text-right">
            DDD:
          </div>
          <div class="col-sm-1 col-xs-1 ">
            <input #codddd name="codddd" class="form-control  form-control-sm" placeholder="DDD" type="text" [allowNegativeNumbers]="false" mask="separator.2"   maxlength="2" (keyup)="ValidarGravacao()">
          </div>
          <div class="col-sm-2 col-xs-2 text-right">
            Numero:
          </div>
          <div class="col-sm-3 col-xs-3 ">
            <input #numero name="numero" class="form-control  form-control-sm" placeholder="Número" type="text" [allowNegativeNumbers]="false" mask="separator.2"  maxlength="9" (keyup)="ValidarGravacao()">
          </div>
          <div class="col-sm-2 col-xs-2 text-right">
            Ordenação:
          </div>
          <div class="col-sm-2 col-xs-2 ">
            <select #ordenacao name="ordenacao" class="form-control  form-control-sm"  >
              <option *ngFor=  "let c of (ordenacaoFone)" [value]="c">{{c}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1 col-xs-1 ">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1 col-xs-1 text-right">
            Ramal:
          </div>
          <div class="col-sm-2 col-xs-2 ">
            <input #ramal name="ramal" class="form-control  form-control-sm" placeholder="Ramal" type="text" [allowNegativeNumbers]="false" mask="separator.2"  maxlength="4" (keyup)="ValidarGravacao()">
          </div>

          <div class="col-sm-2 col-xs-2 text-right">
            Tipo Telefone:
          </div>
          <div class="col-sm-3 col-xs-3 ">
            <select #indTipoFone name="indtipoFone" class="form-control  form-control-sm"  >
              <option *ngFor=  "let c of (tiposTelefone)" [value]="c.IndTipoFone">{{c.DescTipoTelefone}}</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6 col-xs-6 ">
            <button class="btn btn-primary pull-right btn-block btn-sm" type="button" data-dismiss="modal" [disabled]="!blnInserirTelefone" (click)="SalvarTelefone()">
              Salvar
            </button>
          </div>
          <div class="col-sm-6 col-xs-6 ">
            <button type="button" class="btn btn-danger pull-right btn-block btn-sm" data-dismiss="modal" (click)="hideTelefoneModal()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

